# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
